.product-details {
    background: #F9F9F9 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 20px;
}

.detail-item {
    margin: 5px;
}

.short-description {
    font: normal normal normal 12px/17px Open Sans;
}

button#product-addtocart-button {
    background: #FF5501 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 2px;
    width: 100%;
    margin: none;
}

.action.view {
    color: #FF5501;
    text-decoration: underline;
}

.action.add {
    color: #333;
    border: 1px solid #333;
    padding: 6px 10px;
}

.product-info-main .product-info-price {
    border: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.product-info-main .product-info-price .price-box {
    padding: 0;
    vertical-align: middle;
}

.product-info-main .product-info-stock-sku {
    float: none;
    padding: 0;
    padding-left: 16px;
}

.page-title {
    font: normal normal 600 32px/43px Open Sans;
}

.related-header, .upsell-header {
    padding-bottom: 8px;
    border-bottom: 1px solid #C2C2C2;
}

.product-info-main .rating-summary {
    margin-right: 5px;
}

.rating-summary {
    margin-right: 5px;
}

.upsell-header {
    font: normal normal bold 16px/22px Open Sans;
}

.upsell-product {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.upsell-image {
    height: 100px;
    width: auto;
    object-fit: contain;
    margin-right: 20px;
}

.upsell-product-info {
    display: flex;
    flex-direction: column;
    align-items: start;
}


.upsell-product-name, .upsell-product-price {
    font: normal normal 600 18px/26px Open Sans;
}

.upsell-product-price {
    margin-top: auto;
}

.upsell-product-link {
    font: normal normal 600 14px/19px Open Sans;
    background-color: #333;
    border-radius: 2px;
    text-decoration: none;
    color: #fff;
    padding: 6px 10px;
    margin-left: auto;
}

.upsell-product-link:hover {
    text-decoration: none;
}

.upsell-product-link:visited {
    color: #fff;
}

.block-related {
    clear: both;
}

.related-header {
    font: normal normal 600 24px/33px Open Sans;
}

.related-product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
    gap: 30px;
    margin-top: 20px;
}

.related-product {
    display: grid;
}

.related-product:hover {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}
.related-product:hover .related-product-addtocart {
    visibility: visible;
}


.related-product-image {
    height: 280px;
    justify-self: center;
}

.related-product-info {
    margin: 10px;
}

.related-product-name {
    font: normal normal 600 16px/22px Open Sans;
}

.related-product-reviews .product-reviews-summary.short {
    margin-bottom: 10px;
    text-decoration: none;
}

.related-product-reviews .product-reviews-summary.short .reviews-actions .action.view {
    text-decoration: none;
}

.related-product-price {
    font: normal normal bold 22px/30px Open Sans;
}



.related-product {
    position: relative;
}

.addtocart-btn {
    visibility: hidden;
    border: none;
    border-radius: 2px;
    background-color: #FF5501;
    color: #fff;
    font: normal normal 600 18px/24px Open Sans;
    margin-top: 10px;
    width: 100%;
    height: 52px;
    transition: visibility 0.2s ease;
}

.related-product:hover .addtocart-btn {
    visibility: visible;
}

.addtocart-btn:hover {
    background-color: #E64A00;
}

.addtocart-product-info, .qty-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.qty-container {
    border: 1px solid #C2C2C2;
    border-radius: 2px;
    height: 52px;
    width: fit-content;
    margin-right: 20px;
}

.qty-btn {
    height: 100%;
    width: 52px;
    border-radius: 0;
    border: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 18px;
}

.qty-btn:hover, .qty-btn:active, .qty-btn:focus {
    border: none;
    background-color: transparent;
}

.qty-btn#add {
    color: #FF5501
}

input.qty-input  {
    text-align: center;
    height: 100%;
    width: 86px;
    border-top: none;
    border-bottom: none;
}

.product-stock {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-stock-info {
    font: normal normal bold 14px/19px 'Open Sans', sans-serif;
    margin-right: 5px;
    margin-left: 4px;
    display: flex;
    align-items: center;
    line-height: normal;
    color: #575757;
}

.product-stock-qty {
    font: normal normal normal 14px/19px 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    line-height: normal;
}

